
MONGODB_URI=mongodb+srv://salamlak101_db_user:HWt9iBGiukCJ9qRU@cluster0.dvbxvvi.mongodb.net/web_db?appName=Cluster0

JWT_SECRET=seblewengelsalemalk7892u323
JWT_REFRESH_SECRET=refresh_seblewengelsalemalk7892u323

# Server Configuration
PORT=5001
NODE_ENV=production

# Email Configuration
# RESEND_API_KEY=re_SX9zjkNC_Mb3yA8zJdvRCiTFPcyzhT36M
RESEND_API_KEY=re_M2Rx78gv_PLvNuuAcc8y46iV7CWvp2Rzo
EMAIL_FROM=noreply@mlmtrading.com

# Frontend URL
FRONTEND_URL=http://localhost:3000
# Telegram Bot (for TelegramService)
TELEGRAM_BOT_TOKEN=8036579522:AAFkTA0BAw48EPnX1ALm-8vPhE8w3lVJVbE
TELEGRAM_ADMIN_CHAT_ID=871792876
TELEGRAM_BOT_USERNAME=
TELEGRAM_USE_POLLING=true
# If TELEGRAM_USE_POLLING=false, set webhook URL and secret
TELEGRAM_WEBHOOK_URL=
TELEGRAM_WEBHOOK_SECRET=

# File Upload
MAX_FILE_SIZE=10485760
UPLOAD_PATH=./uploads
''